homecoming-api/venv
homecoming-api/venv/*
homecoming-api/__pycache__/
homecoming-api/__pycache__/*
__pycache__
__pycache__/*
*__pycache__/*
.vscode
.vscode/*
*.pyc
migrations*
.DS_Store

homecoming-app/node_modules/
homecoming-app/.expo/
homecoming-app/dist/
homecoming-app/npm-debug.*
homecoming-app/*.jks
homecoming-app/*.p8
homecoming-app/*.p12
homecoming-app/*.key
homecoming-app/*.mobileprovision
homecoming-app/*.orig.*
homecoming-app/web-build/


